@keyframes bounce {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}

// 아래에서 위로 올라가는 모션은 키프레임으로 넣어야 하나..
@keyframes bottomToup {
	0% {
	}

	100% {
	}
}
